In [2]:
import pandas as pd
from soda.scan import Scan

Setting up usage telemetry.

In [3]:
from sqlalchemy import create_engine # bikin connection antara code dengan db
from sqlalchemy import text

In [4]:
# extract from sql
# create engine and connect to db
engine = create_engine('postgresql://postgres:admin@localhost:5432/binar_bi')
connection = engine.connect()

## Extract Data

In [12]:
# declare query
q = """
    select *
    from ecommerce_raw.hotel_reservations_csv
    """
# execute query
result = connection.execute(text(q)) # run query / ctrl + enter

#convert query res from sqlalchemy to pandas dataframe
df = pd.DataFrame(result)
# nampilin nama kolom
df.columns = list(result.keys())

In [14]:
df.head()

,booking_id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,room_type_reserved,lead_time,arrived_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,total_price,no_of_special_requests,booking_status
0,INN00001,2.0,0.0,1,2,Meal Plan 1,Room_Type 1,224,2-Oct-2017,Offline,0.0,0.0,0.0,65,195,0,Not_Canceled
1,INN00002,2.0,0.0,2,3,Not Selected,Room_Type 1,5,6-Nov-2018,Online,0.0,0.0,0.0,106,533,1,Not_Canceled
2,INN00003,1.0,0.0,2,1,Meal Plan 1,Room_Type 1,1,28-Feb-2018,Online,0.0,0.0,0.0,60,180,0,Canceled
3,INN00004,2.0,0.0,0,2,Meal Plan 1,Room_Type 1,211,20-May-2018,Online,0.0,0.0,0.0,100,200,0,Canceled
4,INN00004,2.0,0.0,0,2,Meal Plan 1,Room_Type 1,211,20-May-2018,Online,0.0,0.0,0.0,100,200,0,Canceled

In [25]:
df.type_of_meal_plan.unique()

array(['Meal Plan 1', 'Not Selected', 'Meal Plan 2', '', 'Meal Plan 3'],
      dtype=object)

In [160]:
df.arrived_date = pd.to_datetime(df.arrived_date)

In [161]:
df.arrived_date.min()

Timestamp('1998-02-01 00:00:00')

In [162]:
df.arrived_date.max()

Timestamp('2027-12-01 00:00:00')

In [168]:
df.arrived_date.quantile(.1)

Timestamp('2017-10-09 00:00:00')

In [165]:
df[df.arrived_date > '2020-01-01']

,booking_id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,room_type_reserved,lead_time,arrived_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,total_price,no_of_special_requests,booking_status
7452,INN07448,2.0,0.0,1,1,Meal Plan 1,Room_Type 1,52,2027-12-01,Online,0.0,0.0,0.0,72,145,2,Not_Canceled

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36281 entries, 0 to 36280
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   booking_id                            36281 non-null  object
 1   no_of_adults                          36279 non-null  float64
 2   no_of_children                        36279 non-null  float64
 3   no_of_weekend_nights                  36281 non-null  int64
 4   no_of_week_nights                     36281 non-null  int64
 5   type_of_meal_plan                     36281 non-null  object
 6   room_type_reserved                    36281 non-null  object
 7   lead_time                             36281 non-null  int64
 8   arrived_date                          36281 non-null  object
 9   market_segment_type                   36281 non-null  object
 10  repeated_guest                        36280 non-null  float64
 11  no_of_previous_cancellations          36280 non-null  float64
 12  no_of_previous_bookings_not_canceled  36280 non-null  float64
 13  avg_price_per_room                    36281 non-null  int64
 14  total_price                           36281 non-null  int64
 15  no_of_special_requests                36281 non-null  int64
 16  booking_status                        36281 non-null  object
dtypes: float64(5), int64(6), object(6)
memory usage: 4.7+ MB

In [24]:
df.describe([.5,.9])

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,lead_time,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,total_price,no_of_special_requests
count,36279.000000,36279.000000,36281.000000,36281.000000,36281.000000,36280.000000,36280.000000,36280.000000,36281.000000,3.628100e+04,36281.000000
mean,2.368505,0.105295,0.812161,2.204322,85.229955,0.025662,0.023346,0.153445,117.350018,3.686442e+02,0.619663
std,69.041966,0.402654,0.886579,1.410998,85.930159,0.158126,0.368306,1.754077,2625.893376,1.050183e+04,0.786230
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,2.000000,0.000000,1.000000,2.000000,57.000000,0.000000,0.000000,0.000000,99.000000,2.700000e+02,0.000000
90%,2.000000,0.000000,2.000000,4.000000,213.000000,0.000000,0.000000,0.000000,147.000000,5.720000e+02,2.000000
max,12000.000000,10.000000,22.000000,17.000000,443.000000,1.000000,13.000000,58.000000,500000.000000,2.000000e+06,5.000000

In [314]:
scan = Scan()
scan.set_data_source_name("postgresdb")

# Add configuration YAML files
scan.add_configuration_yaml_file(file_path="configuration.yml")

# Add variables
scan.add_variables({"date": "2024-01-28"})

[12:43:17] Soda Core 3.3.5

In [315]:
scan._variables

{'NOW': '2024-05-31T05:43:17.189595+00:00', 'date': '2024-01-28'}

In [316]:
scan.add_variables({"limit_st_order_date": "2016-08-01"})
scan.add_variables({"limit_end_order_date": "2017-12-31"})

In [317]:
# Add check YAML files 
scan.add_sodacl_yaml_file("checks.yml")

# Execute the scan
exit_code = scan.execute()
print(exit_code)

# Set logs to verbose mode, equivalent to CLI -V option
scan.set_verbose(True)

# Print results of scan
# print(scan.get_logs_text())

[12:43:24] Using DefaultSampler
[12:43:24] Scan summary:
[12:43:24] 8/11 checks PASSED:
[12:43:24]     orders in postgresdb
[12:43:24]       row_count > 0 [checks.yml] [PASSED]
[12:43:24]       duplicate_count(order_id, order_date) = 0 [checks.yml] [PASSED]
[12:43:24]       values in (customer_id) must exist in customers (customer_id) [checks.yml] [PASSED]
[12:43:24]       missing_count(order_id) = 0 [checks.yml] [PASSED]
[12:43:24]       duplicate_count(order_id) = 0 [checks.yml] [PASSED]
[12:43:24]     customers in postgresdb
[12:43:24]       missing_count(customer_id) = 0 [checks.yml] [PASSED]
[12:43:24]       duplicate_count(customer_id) = 0 [checks.yml] [PASSED]
[12:43:24]       max_length(customer_id) = 5 [checks.yml] [PASSED]
[12:43:24] 2/11 checks WARNED:
[12:43:24]     orders in postgresdb
[12:43:24]       missing_percent(ship_address) warn when <= 0.01% fail when > 0.1% [checks.yml] [WARNED]
[12:43:24]         check_value: 0.0
[12:43:24]         row_count: 653
[12:43:24]         missing_count: 0
[12:43:24]     customers in postgresdb
[12:43:24]       missing_percent(fax) warn when <= 30% fail when > 30% [checks.yml] [WARNED]
[12:43:24]         check_value: 25.27
[12:43:24]         row_count: 91
[12:43:24]         missing_count: 23
[12:43:24] 1/11 checks FAILED:
[12:43:24]     orders in postgresdb
[12:43:24]       out_date_range = 0 [checks.yml] [FAILED]
[12:43:24]         check_value: 119.0
[12:43:24] Oops! 1 failures. 2 warnings. 0 errors. 8 pass.

2

In [79]:
f = open("log_checks.txt", "a")
f.write("\n")
f.write("-----------------------------\n")
f.write("Test Log {} \n".format(scan._variables['date']))
f.write("-----------------------------\n")
f.write(scan.get_logs_text())
f.write(" \n")
f.close()