In [1]:
import pandas as pd  # lib untuk olah data
from sqlalchemy import create_engine # bikin connection antara code dengan db
from sqlalchemy import text

### Extract

In [2]:
# extract -> kita ambil data
# test case sumber pake csv -> bikin koneksi antara file csv dan code dibuat
# df_wall = pd.read_csv('C:/Users/User/Documents/project/Binar/binar_etl/data_wallmart/Mart_data.csv') #-> code ambil data dari csv
df_wall = pd.read_csv('C:/Users/User/Documents/project/Binar/pandas_and_etl/dataset/mart_data_cut.csv')

In [3]:
# extract from sql
# create engine and connect to db
engine = create_engine('postgresql://postgres:admin@localhost:5432/binar_bi')
connection = engine.connect()

In [11]:
df_wall.columns = [str.lower(x) for x in df_wall.columns]

In [23]:
len(df_wall[df_wall.duplicated(['user_id', 'product_id'])])

7

In [25]:
exp = ['M', 'F']

df_wall[~df_wall.gender.isin(exp)]

,user_id,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category,purchase
1249,1000202,P00303742,Male,18-25,4.0,A,3,0,8,7765
1250,1000202,P00022942,Male,18-25,4.0,A,3,0,5,7140
3548,1000570,P00020442,Male,26-35,4.0,A,4,0,8,3994
9398,1001444,P00334242,Female,26-35,4.0,B,1,0,1,19010

In [4]:
# declare query
q = """
    select *
    from superstore.customers
    """
# execute query
result = connection.execute(text(q)) # run query / ctrl + enter

In [5]:
#conver query res from sqlalchemy to pandas dataframe
df = pd.DataFrame(result)
# jika nama kolom tidak  muncul
# nampilin nama kolom
df.columns = list(result.keys())

In [23]:
df.head()

  customer_id    customer_name      segment
0    AB-10015    Aaron Bergman     Consumer
1    AH-10030    Aaron Hawkins    Corporate
2    AS-10045   Aaron Smayling    Corporate
3    AB-10060  Adam Bellavance  Home Office
4    AH-10075        Adam Hart    Corporate

### Load

Load -> save, ke csv, excel, sql, bq

In [6]:
df_temp = df_wall.head(100)

In [35]:
df_temp.to_sql( 
        'order_wallmart', 
        con=engine,
        schema='superstore',
        if_exists='replace',
        index=True,
        method='multi'
        )